<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
  </configSections>
  <modules>
    <module assemblyFile = "MarsRover.Module.dll" moduleType="MarsRover.Module.MarsRoverModule, MarsRover.Module,Version=1.0.0.0, Culture=neutral, 
            PublicKeyToken=null" moduleName="MarsRoverModule" startupLoaded="True"/>
  </modules>
  <appSettings>
    <add key="ApiKey" value="Insert key here"/>
    <add key="ApiBaseUrl" value="https://api.nasa.gov/mars-photos/api/v1"/>
  </appSettings>

</configuration>